.naranjaSena{
    background-color: #fc7323
}
.verdeSena{
    background-color: #238276
}
.verde2Sena{
    background-color: #596548
    #596548
}
.verde3Sena{
    background-color: #b1bb60
}

.naranjaSena-text{
    color: #fc7323
}
.verdeSena-text{
    color: #238276
}
.verde2Sena-text{
    color: #596548
}
.verde3-text{
    color: #b1bb60
}