/*Selectore de etiqueta*/
h1{
    color: white;
    align-items: center;
    background-color: black;
}

p{
    background-color: aquamarine;
}
/*selectores de clase*/
.subtitulo{
    color: brown;
    font-size: 35px;

}

/*selector id*/

#textoEjemplo{
    color: chocolate;
}

[href]{
    color: red
}

[class*=Caja]{
    width: 200px;
    height: 200px;
    margin: 5px;
}


.miCaja{
    background: yellowgreen;
    border: 5px solid red;
   border-top-width: 200px;
   border-top-color:transparent


}

.miCaja2{
    background: lightseagreen;
    /*width: 200px;
    height: 200px;*/
    border: 5px dotted blue;
}

.miCaja3 {
    background: lightcoral;
    border:  5px dashed blue;
}